.header__div {
    background-image: url('../img/post-image.jpg');
    height: 100vh;
    width: 100vw;
}
.header__div__h1 {
    font-size: 4em;
    font-family: $playfair;
    font-weight: 900;
    font-style: italic;
}
.header__div2 {
    color: #ffffff;
    text-align: center;
    padding-top: 15em;
}